* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edede9;
}

.back {
    padding: 2% 0% 2% 0%;
    text-align: center;
}

.button02 {
    background-color: #fdf0d5;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

.button02:hover {
    transform: scale(1.2);
    background-color: #dad7cd;
}
.shopping {
    width: 30%;
    padding-top: 10%;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 65px;
}

.store {
    float: left;
    font-size: 40px;
    padding-left: 2%;
    padding-top: 1%;
}

.title-img {
    float: right;
    width: 10%;
}

.item_header {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 30px;
    background-color: #edede9;
    border-radius: 3px;
}

.count{
    text-align: center;
}

.item_header div {
    width: 200px;
    color: #888;
    line-height: 30px;
}

.item_header .item_detail {
    width: 45%;
}

.item_body {
    margin-top: 20px;
    height: 100px;
    align-items: center;
}

.item_detail img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    float: left;
}

.item_detail .name {
    margin-left: 100px;
    margin-top: 20px;
}


.num {
    text-align: center;
}

.num input {
    text-align: center;
}

.item_button {
    font-size: 25px;
}

.item_num {
    font-size: 20px;
    width: 30%;
}

.bill{
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dad7cd;    
    height: auto;
}

.link{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 標楷體;
}

.title{
    padding-bottom: 2%;
    font-size: 30px;
    text-align: left;
}

.link_title{
    display: grid;
}

.link_title a{
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.link_title a:hover{
    color: #fff;
}

.gmail{
    width: 100px;
}