* {
    background-color: #edede9;
    margin: 0;
    padding: 0;
}

.shopping {
    width: 30%;
    padding-top: 10%;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 65px;
}

.store {
    float: left;
    font-size: 40px;
    padding-left: 2%;
    padding-top: 1%;
}

.title-img{
    float: right;
    width: 10%;
}

footer{    
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dad7cd;    
    height: auto;
}

.link{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 標楷體;
}

.title{
    padding-bottom: 2%;
    font-size: 30px;
    text-align: left;
}

.link_title{
    display: grid;
}

.link_title a{
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.link_title a:hover{
    color: #fff;
}

.gmail{
    width: 100px;
}