* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edede9;
}

.form {
    border-style: solid #a9bcd0;
    width: 400px;
    background-color: #fdf0d5;
    border-radius: 20px;
    padding: 50px 80px 80px;
}

.back {
    position: relative;
    white-space: nowrap;
    width: 25%;
    border: 2px solid black;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    transform: all 1s;
    background-color: #fdf0d5;
}

.backbutton {
    text-decoration: none;
    color: black;
    font-family: 標楷體;
    font-size: 25px;
}

.back:hover,
.backbutton:hover {
    transform: scale(1.2);
    background-color: #d5bdaf;
}

.title {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 100px;
    font-family: 標楷體;
}

.mainform input {
    background: linear-gradient(90deg, #03a9f4);
    border: 2px solid black;
    width: 100%;
    text-align: center;
    font-size: 15px;
    outline: none;
    background-size: 400%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.sexform {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}

.button01 {
    position: relative;
    white-space: nowrap;
    width: 20%;
    border: 2px solid black;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
    cursor: pointer;
    transform: all 1s;
}

.button02 {
    text-decoration: none;
    color: black;
    font-family: 標楷體;
    font-size: 25px;
}

.button01:hover,
.button02:hover {
    transform: scale(1.2);
    background-color: #d5bdaf;
}