* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif JP', serif;
    font-family: 'Vina Sans', sans-serif;
}

body{
    background-color: #edede9;
}

.logo{
    width: 30%;
    margin-top: -4%;
}

.shopping {
    width: 10%;
    align-self: flex-end;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 45px;
}

.store {
    width: 40%;
}

.store a {
    color: black;
    float: left;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: none;
    font-family: 標楷體;
}

.title-img {
    display: block;
    text-align: right;
    margin: auto;
    width: 30%;
    margin-right: 10%;
}

.main{
    background-color: aliceblue;
    width: 70%;
    display: block;
    margin: auto;
    border-style: solid;
}

.main p{
    font-size: 40px;
}

.container{
    margin: 0% 3% 3% 5%;
    border-radius: 10px;
    background-color: #fdf0d5;
}

.item_header{
    display: flex;
    justify-content: space-evenly;
}

.item_header div {
    width: 200px;
    line-height: 30px;
}

.item_header .item_detail {
    width: 45%;
}

.item_body .item_detail{
    width: 45%;

}

.item_body {
    margin-top: 20px;
    height: 100px;
    color: #888;
    align-items: center;
}

.item_detail img {
    width: 70px;
    height: 70px;
    border-radius: 3px;
    float: left;
}

.item_detail .name {
    margin-left: 50px;
    margin-top: 20px;
}

.num p{
    font-size: 20px;
}

.all p{
    font-size: 20px;
    text-align: right;
    padding-right: 4%;
}

footer {
    margin-top: 5%;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #dad7cd;
}

.link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 標楷體;
}

.title {
    padding-bottom: 2%;
    text-align: left;
    color: black;
    text-decoration: none;
    display: block;
}

.title a {
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.title a:hover {
    color: #fff;
}

.gmail {
    width: 70px;
}

.link_title a{
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.link_title a:hover{
    color: #fff;
}

.gmail{
    width: 100px;
}