* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edede9;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

.logo{
    width: 30%;
    margin-top: -12%;
    margin-bottom: -5%;
}

.shopping {
    width: 10%;
    margin-top: -5%;
    margin-bottom: -5%;
    align-self: flex-end;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 45px;
}

.store {
    width: 40%;
}

.store a {
    color: black;
    float: left;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: none;
    font-family: 標楷體;
}

.title-img {
    display: block;
    text-align: right;
    margin: auto;
    width: 30%;
    margin-right: 10%;
}

.run{
    background-color: #adb5bd;
}

.down-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: 標楷體;
}

.select-title {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.select-title:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
}

.down-menu02 {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    z-index: 2;
    font-size: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


.down-menu02 a:hover {
    background-color: #5b7294;
    color: #fff;
}

.down-menu li {
    position: relative;
    white-space: nowrap;
    padding: 0% 5%;
}

.down-menu ul {
    opacity: 0;
}

.down-menu ul a {
    background-color: #edede9;
    text-decoration: none;
    line-height: 40px;
    color: black;
    display: block;
}

.down-menu li:hover>ul {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.main {
    display: flex;
    margin: 3% 0% 3% 0%;
}

.item {
    padding-left: 5%;
    width: 30%;
    position: relative;
}

.singleSlide {
    align-items: center;
}

.singleSlide img {
    width: 80%;
    height: 500px;
    object-fit: cover;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: black;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    border: transparent solid 1px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: black;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white !important;
}

.itemname {
    width: 60%;
    margin-left: 5%;
}

.itemtitle {
    font-size: 40px;
    font-weight: bolder;
}

.itemcontent {
    font-size: 20px;
}

.winfish{
    color: red;
}

.menu {
    display: flex;
    width: 45%;
    min-width: min-content;
    gap: 10px;
}

.color select,
.size select {
    background: #d5bdaf;
    color: black;
    font-size: 15px;
    width: 300px;
    height: 3em;
    padding: 8px;
    position: relative;
    border-radius: 5px;
}

option {
    background: #fff;
    position: absolute;
    color: black;
    font-size: 15px;
}

.num {
    display: flex;
    padding-top: 3%;
    
}

.num input {
    text-align: center;
}


.item_button {
    font-size: 25px;
    background-color: #d5bdaf;
    border-style: none;
    padding: 3px 8px;
}

.item_num {
    font-size: 20px;
    border: none;
    width: 20%;
    background-color: #f9dcc4;
    border-radius: 25px;
}

.button {
    padding: 3% 0% 3% 0%;
}

.addtocar {
    background-color: #d5bdaf;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.addtocar:hover {
    background-color: #d8e2dc;
    transform: scale(1.05);
}

.reflect {
    display: flex;
    justify-content: space-evenly;
    background-color: #d8e2dc;
    margin-bottom: 2%;
}

.consumer {
    margin: 2% 0% 2% -5%;
    background-color: #f0ead2;
    border: solid black;
    width: 30%;
    border-radius: 10px;
}

.consumer_title {
    font-weight: bold;
    font-size: 40px;
}

.buyer {
    margin: 2%;
    border: solid black;
    background-color: #f1faee;
    border-radius: 10px;
}

.consumer_name {
    font-size: 25px;
}

.respond {
    font-size: 20px;
}

.send-block {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.send-block p {
    font-size: 40px;
}

.comment-place {
    width: 120%;
}

.stars {
    display: flex;
    gap: 0.25em;
    margin-inline: auto;
    -webkit-tap-highlight-color: transparent;
}

.stars input {
    all: unset;
    color: gold;
    cursor: pointer;
    font-size: 4rem;
    line-height: 1;
    inline-size: 1em;
    block-size: 1em;
}

.stars input::after {
    transition: color 300ms, -webkit-text-stroke-color 300ms, scale 500ms cubic-bezier(0.5, -4, 0.5, 4);
    content: "★";
    display: block;
    -webkit-text-stroke-color: yellow;
}

.stars :is(input:indeterminate, input:checked ~ input:not(:checked))::after {
    -webkit-text-stroke-color: #aaa;
    color: #ccc;
    scale: 0.8;
}

.send {
    background-color: #d5bdaf;
    color: black;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.send:hover {
    background-color: #84a59d;
    transform: scale(1.05);
}

.txt01 {
    margin-left: 5%;
    font-size: 40px;
    font-family: 標楷體;
}

.photo1_1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.p {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.p:hover {
    transform: scale(1.1);
}

.photo1 p,
.photo2 p,
.photo3 p {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

.photo1,
.photo2,
.photo3 {
    width: 25%;
}

footer {
    margin-top: 5%;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #dad7cd;
}

.link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 標楷體;
}

.title {
    padding-bottom: 2%;
    text-align: left;
    color: black;
    text-decoration: none;
    display: block;
}

.title a {
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.title a:hover {
    color: #fff;
}

.gmail {
    width: 70px;
}