* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #edede9;
}

.shopping {
    width: 30%;
    padding-top: 10%;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 65px;
}

.store {
    float: left;
    font-size: 40px;
    padding-left: 2%;
    padding-top: 1%;
}

.title-img {
    float: right;
    width: 10%;
}

.down-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: 標楷體;
}

.select-title {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.select-title:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
}

.down-menu02 {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.down-menu02:hover {
    background-color: #1c1c1c;
}

.down-menu02 a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: #5b7294;
    color: #fff;
}

.down-menu02 {
    font-size: 30px;
}

.down-menu li {
    position: relative;
    white-space: nowrap;
    padding: 0% 5%;
}

.down-menu ul {
    /*隱藏次選單*/
    opacity: 0;
}

.down-menu ul a {
    background-color: #edede9;
    text-decoration: none;
    line-height: 40px;
    color: black;
    display: block;
}

.down-menu li:hover>ul {
    /*滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.txt01{
    margin-left: 5%;
    font-size: 40px;
    font-family: 標楷體;
}

.photo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.p {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.p:hover{
    transform:scale(1.2);
}

.photo1 p,
.photo2 p,
.photo3 p{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

.photo1,
.photo2,
.photo3{
    width: 25%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #dad7cd;    
    height: auto;
}

.link{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 標楷體;
}

.title{
    padding-bottom: 2%;
    font-size: 30px;
    text-align: left;
}

.link_title{
    display: grid;
}

.link_title a{
    font-size: 20px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.link_title a:hover{
    color: #fff;
}

.gmail{
    width: 100px;
}