* {
    background-color: #edede9;

}

body{
    margin: 0;
    padding: 0;
}

.shopping {
    width: 30%;
    padding-top: 10%;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 65px;
}

.store {
    float: left;
    font-size: 40px;
    padding-left: 2%;
    padding-top: 1%;
}

.title-img {
    float: right;
    width: 10%;
}

.down-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: 標楷體;
}

.select-title {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.select-title:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
}

.down-menu02 {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.down-menu02:hover {
    background-color: #1c1c1c;
}

ul.down-menu02 a:hover {
    /* 滑鼠滑入按鈕變色*/
    background-color: #5b7294;
    color: #fff;
}

ul.down-menu02 {
    font-size: 30px;
}

ul.down-menu li {
    position: relative;
    white-space: nowrap;
    padding: 0% 5%;
}

ul.down-menu ul {
    /*隱藏次選單*/
    opacity: 0;
}

ul.down-menu ul a {
    background-color: #edede9;
    text-decoration: none;
    line-height: 40px;
    color: black;
    display: block;
}

ul.down-menu li:hover>ul {
    /*滑鼠滑入展開次選單*/
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.txt01{
    float: left;
    margin-left: 5%;
    font-size: 40px;
    font-family: 標楷體;
}

.photo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    margin-top: 2%;
    z-index: -1;
}

.p {
    height: 300px;
    width: 300px;
    position: relative;
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.p:hover{
    transform:scale(1.2);
}

.photo p{
    font-size: 25px;
    text-align: center;
}