* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edede9;
    margin: 0;
    padding: 0;
    height: 100vh;
    max-height: 100vh;
    position: relative;
}

.logo{
    width: 30%;
    margin-top: -12%;
    margin-bottom: -5%;
}

.shopping {
    width: 10%;
    margin-top: -5%;
    margin-bottom: -5%;
    align-self: flex-end;
}

.page01 {
    display: flex;
    justify-content: space-between;
}

.shop-name {
    color: black;
    text-decoration: none;
    font-family: 標楷體;
    font-size: 45px;
}

.store {
    width: 40%;
}

.store a {
    color: black;
    float: left;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 5%;
    text-decoration: none;
    font-family: 標楷體;
}

.title-img {
    display: block;
    text-align: right;
    margin: auto;
    width: 30%;
    margin-right: 10%;
}

.run{
    background-color: #adb5bd;
}

.down-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    font-family: 標楷體;
}

.select-title {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.select-title:hover::before {
    width: 100%;
    top: 0;
    left: 0;
    transition-delay: 0.1s;
}

.down-menu02 {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    font-size: 30px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.down-menu02:hover {
    background-color: #1c1c1c;
}

.down-menu02 a:hover {
    background-color: #5b7294;
    color: #fff;
}

.down-menu li {
    position: relative;
    white-space: nowrap;
    padding: 0% 5%;
}

.down-menu ul {
    opacity: 0;
}

.down-menu ul a {
    background-color: #edede9;
    text-decoration: none;
    line-height: 40px;
    color: black;
    display: block;
}

.down-menu li:hover>ul {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.txt01 {
    margin-left: 5%;
    font-size: 40px;
    font-family: 標楷體;
}

.photo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}

.p {
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
    transform: scale(1, 1);
    transition: all 1s ease-out;
}

.p:hover {
    transform: scale(1.2);
}

.photo1 p,
.photo2 p,
.photo3 p {
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}

.photo1,
.photo2,
.photo3 {
    width: 25%;
}

footer {
    margin-top: 5%;
    clear: both;
    width: 100%;
    height: 100px;
    background-color: #dad7cd;
    position: absolute;
    bottom: 0;
}

.link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: 標楷體;
}

.title {
    padding-bottom: 2%;
    text-align: left;
    color: black;
    text-decoration: none;
    display: block;
}

.title a {
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin-top: 5%;
}

.title a:hover {
    color: #fff;
}

.gmail {
    width: 70px;
}